# Archivos y directorios a ignorar en Docker
.git
.gitignore
README.md
Dockerfile
.dockerignore
myenv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.pytest_cache/
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
build/
.DS_Store
*.log
.env
.vscode/
.idea/