version: '3.8'

services:
  app:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
      - FLASK_DEBUG=True
    env_file:
      - config/.env.development
    volumes:
      - .:/app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
